<div id="tab_bar">
    <ul class="topnav">
      <li>{{#link-to "home"}}HOME{{/link-to}}</li>
      <li>{{#link-to "add-listing"}}ADD LISTING{{/link-to}}</li>
    </ul>
    <div class="logo">SUPER RENTALS</div>
</div>

{{outlet}}
